fastapi
uvicorn[standard]
telethon
boto3
sqlalchemy
pydantic
python-multipart
apscheduler
minio
pytest
pytest-asyncio
httpx
alembic
sentry-sdk
passlib[argon2]
python-jose[cryptography]
Jinja2

psycopg2-binary
